@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

@font-face {
    font-family: 'Inter';
    src: url('../lib/fonts/Inter/static/Inter_18pt-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../lib/fonts/Inter/static/Inter_18pt-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}