.background{
    position: relative;
    height: 100%;
    width: 100%;
    z-index: -100;
    opacity: 0.3;
    padding: 0;
    margin: 0;
}

.background-left,
.background-right{
    /* content: url('./../../assets/images/bg-pattern-abstract.svg'); */
    background-image: url('./../../assets/images/bg-pattern-abstract.svg');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    height: 100vh;
    position: absolute;
    top: 0;
    width: 30%;
    padding: 0;
    margin: 0;
}

.background::before{
    left: 0;
}

.background::after{
    right: 0;
    transform: rotateY(-180deg);
}